table.schema {
    width: 100%;
}

td.schema-header {
    border-style: solid;
    border-width: 1px;
}

h2.schema-header-text {
    width: 100;
    text-align: center;
}

div.schema-time-container {
    height: 800px;
    margin-bottom: 0px;
    position: relative;
}

div.schema-time {
    height: 60px;
    border-top-style: solid;
    border-width: 1px;
}

td.schema-cell {
    border-style: solid;
    border-width: 1px;
}

div.schema-col-container {
    height: 800px;
    margin-bottom: 0px;
    position: relative;
}

div.schema-col-element {
    position: absolute;
    border-style: solid;
    width: 100%;
}
