{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="jumbotron">
        <h1>Välkommen!</h1>
        <p>Välj de personer som ska repa tillsammans genom att söka på dom så får du ett schema med tider då samtliga personer inte har lektion i minst 45 minuter.<br/>Obs!Datan gäller scheman och elever VT 2015 då detta är en demo</p>
        <form role="search" action="" method="POST">
            <div class="form-group">
                <select onchange="this.form.submit()" class="selectpicker" data-live-search="true" name="person" data-style="btn-primary">
                    <option value="">Välj elev</option>
                    {% for student in students %}
                    <option value="{{ student.id }}">{{ student._class }} {{ student.first_name }} {{ student.last_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </form>
    </div>
</div>
{% endblock %}
